@page
@model CSharpModel
@{
    ViewData["Title"] = ".NET Information Site";
}

<div class="text-center" style="height:auto;">
    <h1 class="display-4">C#</h1>
    <img src="~/Green.png" />
    <div class="card">
        <p>C# is the underlying language of the .Net ecosystem.</p>
    </div>

</div>
