@page
@model DotNetModel
@{
    ViewData["Title"] = ".NET Information Site";
}

<div class="text-center" style="height:auto;">
    <h1 class="display-4">.Net</h1>
    <img src="~/Green.png" />
    <div class="card">
        <p>Microsoft has created .Net ecosystem.</p>
    </div>

</div>
