@page
@model UnityModel
@{
    ViewData["Title"] = ".NET Information Site";
}

<div class="text-center" style="height:auto;">
    <h1 class="display-4">Unity</h1>
    <img src="~/Green.png" />
    <div class="card">
        <p>Unity is an environment for making 2D & 3D games.</p>
    </div>

</div>
